<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="husband" class="cn.devzyh.smallspring.test.cyclicdenpendce.bean.Husband">
        <property name="wife" ref="wife"/>
    </bean>

    <bean id="wife" class="cn.devzyh.smallspring.test.cyclicdenpendce.bean.Wife">
        <property name="husband" ref="husband"/>
        <property name="mother" ref="husbandMother"/>
    </bean>

    <bean id="husbandMother" class="cn.devzyh.smallspring.test.cyclicdenpendce.bean.HusbandMother"/>

    <!-- AOP 配置，验证三级缓存 -->
    <bean class="cn.devzyh.smallspring.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="beforeAdvice" class="cn.devzyh.smallspring.test.cyclicdenpendce.bean.SpouseAdvice"/>

    <bean id="methodInterceptor"
          class="cn.devzyh.smallspring.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>

    <bean id="pointcutAdvisor" class="cn.devzyh.smallspring.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* cn.devzyh.smallspring.test.cyclicdenpendce.bean.Wife.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>

</beans>