<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>命令在线执行器</title>
    <link rel="stylesheet" href="/static/main.css">
    <script type="text/javascript" src="/static/main.js"></script>
</head>
<body>
<div class="form-group">
    <h2>命令按钮</h2>
    {% for cmd in config %}
    <button onclick="execute('{{cmd.name}}')" style="background-color: {{cmd.color}};">{{cmd.name}}</button>
    {% endfor %}
</div>

<div class="form-group">
    <h2>运行日志</h2>
    <div id="output"></div>
</div>
</body>
</html>
